name: CI

on:
  push:
    branches: [ main ]
  pull_request:


env:
  FORCE_COLOR: 1
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Install uv & python
      uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      with:
        enable-cache: true
        save-cache: ${{ github.ref == 'refs/heads/main' }}

    - name: Install dependencies
      run: uv sync

    - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
    - run: ruff check
    - run: ruff format --check

    - name: Run type checking
      run: uv run ty check
