name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  FORCE_COLOR: 1
  CI: true

jobs:
  lint-and-type-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Install uv & python
      uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
      with:
          enable-cache: true

    - name: Install dependencies
      run: uv sync

    - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
    - run: ruff check
    - run: ruff format --check

# Continue even if type checking fails since ty is experimental
    - name: Run type checking
      continue-on-error: true
      run: uv run ty check
