name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint-and-type-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv & python
      uses: astral-sh/setup-uv@v6
      with:
          python-version: '3.13'
          enable-cache: true

    - name: Install dependencies
      run: uv sync

    - uses: astral-sh/ruff-action@v3
    - run: ruff check --fix
    - run: ruff format --check --diff

# Continue even if type checking fails since ty is experimental
    - name: Run type checking
      continue-on-error: true
      run: uv run ty check
