name: CI

on:
  push:
    branches: [ main ]
  pull_request:


env:
  FORCE_COLOR: 1
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        persist-credentials: false

    - name: Install uv & python
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        enable-cache: true
        save-cache: ${{ github.ref == 'refs/heads/main' }}

    - name: Install dependencies
      run: uv sync

    - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
    - run: ruff check
    - run: ruff format --check

    - name: Run type checking
      run: uv run ty check
