name: CI

on:
  push:
    branches: [ main ]
  pull_request:


env:
  FORCE_COLOR: 1
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: Install uv & python
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      with:
        enable-cache: true
        save-cache: ${{ github.ref == 'refs/heads/main' }}

    - name: Install dependencies
      run: uv sync

    - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
    - run: ruff check
    - run: ruff format --check

    - name: Run type checking
      run: uv run ty check
